.cfs-label,.cfs-panel-value {
    font-size: 12px;
    padding: 0 2px 0 2px;
}

.cfs-panel-value {
    min-width: 43px;
}

.cfs-panel-button {
    padding: 0px 2px;
    color: #bbb;
}

.cfs-panel-button:hover {
    color: white;
    text-shadow: black 0px 2px 2px;
}
